server/.rebar3
server/_*
server/.eunit
server/*.o
server/*.beam
server/*.plt
server/*.swp
server/*.swo
server/.erlang.cookie
server/ebin
server/log
server/erl_crash.dump
server/.rebar
server/_rel
server/_deps
server/_plugins
server/_tdeps
server/logs
server/_build
