{erl_opts, [debug_info]}.
{deps, [
        {webmachine, "1.10.*",
        {git, "git://github.com/webmachine/webmachine", {branch, "develop"}}},
        {hoax, ".*", {git, "https://github.com/xenolinguist/hoax", {branch, "master"}}},
        {eunit_sugar, ".*", {git, "https://github.com/xenolinguist/eunit_sugar", {branch, "master"}}},
        {eunit_formatters, ".*", {git, "https://github.com/seancribbs/eunit_formatters.git", {branch, "master"}}},
        {ej, ".*",
        {git, "git://github.com/seth/ej.git", {branch, "master"}}},
        {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.14.8"}}},
        {sqerl, ".*", {git, "https://github.com/chef/sqerl.git", {branch, "master"}}}
    ]}.

{overrides, [
    {override, jiffy, [
        {plugins, [pc]},
        {provider_hooks, [
            {post, [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]}
        ]}
    ]}
]}.

{relx, [{release, {'mfk', "0.1.0"},
         ['mfk',
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [
            {prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]},
             {dev, [{deps, [
                    {sync, ".*", {git, "git://github.com/rustyio/sync.git",
                    {branch, "master"}}}
                   ]}
             ]},
             {test,
                         [{deps, [
                                 {eunit_formatters, ".*",
                                  {git, "git://github.com/seancribbs/eunit_formatters", {branch, "master"}}}
                                 ]}]}
           ]
}.

{eunit_opts, [
     no_tty,  %% This turns off the default output, MUST HAVE
     {report, {eunit_progress, [colored, profile]}} %% Use `profile' to see test timing information
     %% Uses the progress formatter with ANSI-colored output
     ]}.
